* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--rajdhani);
  /* background-color: #302f2f; */
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

ul {
  list-style-type: none;
}

.main {
  display: flex;
}

